@font-face{
  font-family: Calisto;
  src: url(/calisto-mt/calisto.ttf);
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
.text-underline{
  text-decoration: underline !important;
}
body{
  font-family: Calisto;
  /* background-color: whitesmoke; */
  color: #333;
  
}
p{
  font-size: 18px;
}
.btn:hover{
  transform: scale(1.01);
}

.alert {
  position: fixed;
  bottom: 0;
  right: 1rem;
  left: 0rem;
  width: 100%;
  margin: 0 0;
  opacity: 1 !important;
  /* background: rgba(0, 68, 36, 0.9); */
  /* color: white !important; */
  border: none;
  


}

/* .row {
  margin-bottom: 3rem;
} */


@media (max-width: 376px) {
  #serviceCardRow .card-footer{
    /* font-family: Calisto; */
    font-size: 14px;
  }
  #jumbotronIndex h1{
    font-size: 2rem !important;
  }



}
#serviceCardRow .card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

.nav-logo{
  height:120px;
}

nav li{
  display: inline-block;
  
}
nav li a{
  text-transform: uppercase;
  
}
nav li a:hover{
  text-decoration: none;
}
nav li:hover{
  transform: scale(1.05);
}


/* nav{
  
} */
nav ul{
  text-align: center;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.nav-line{
  display: inline-block;
  width: 10%;
  align-self: center;
  
  margin-bottom:30px;
  position: static;
}

@media(max-width:992px){
  .nav-line{
    display: none;
  }
}

#navHamburger{
  margin-top: -86px;
}
#hoursOfService .card-body,
#daycareHoursOfService .card-body{
  padding: 0rem 0rem;
}
#hoursOfService .table,
#daycareHoursOfService .table{
  margin-bottom: 0;
}

#jumbotronIndex{
  background-image: url(/img/frontporch3.jpeg);
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: 0rem 0rem;/* was -18 when no attachment*/
  height: 69vh;
  background-attachment: fixed;
  background-size: 114%;
}

@media(max-width: 768px){
  #jumbotronIndex{
    background-size: 171vh;
    background-position: -17rem -9rem;
  }
  .green-overlay-index{
    height: 171vh;
  }
}


.green-overlay-index{
  background:rgba(0, 68, 36,0.5);

  left:0;
  height:69vh;
  /* opacity:0.7; */

}


.showcase-divider{
  /* color:#FFFFFF; */
  background-color:#FFFFFF;
  height:1px;
  width: 50vw;
}
.center-showcase-text{
  /* height: inherit; */
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0, 20px;
  position:relative;
  color: white;
  opacity: 1; 
  opacity: initial;
  display:block;
}

.link-underline{
  text-decoration: underline !important;
  
}
.link-underline:hover{
  font-weight: bold !important;
}

@media(max-width: 576px){
  #indexJumbotronText h3{
    font-size: 14px !important;
  }
  #indexJumbotronText h1{
    font-size: 20px !important;
  }
  #indexJumbotronText a{
    font-size: 14px !important;
  }
}

/* Start the Services CSS */
/* @media(max-width: 576px){
  .col-xs-6{
    flex-wrap: wrap;
  }
} */
/* CARDS AREA -------------------------------------------------- */
#anyQuestions{
  text-align: center;
}
#contactUsBelowCards{
  text-align: center;
}
#serviceCardRow .col-lg-3, #serviceCardRow .col-6{
  padding: 0.4rem;
}
@media(min-width:768px){
  #anyQuestions{
    text-align: right;
  }
  #contactUsBelowCards{
    text-align: left;
  }
}

/*ABOUT US CSS-------------------------------------------------- */
#aboutUsDiv1{
  /* height:254.4px; */
  /* height: 200px; */
  height: auto;
  /* flex-basis: 50%px; */
  /* width:398px; */
  background-image: url(/img/AboutUsPics.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#trickyImage{
  display: flex;
  max-width: 100%;
  justify-self: center;
  
  object-fit:contain;
  margin-left: auto;
  margin-right: auto;
}
/* #aboutUsParagraph{
   max-width:100%; 
} */
#trickyDiv{
  background-image: url(/img/AboutUsPics.png);
  background-size: contain;

}
/* #ourTeamCardRow .col-md-3,
#ourTeamCardRow .col,
#ourTeamCardRow .col-6{
  display: flex;
  align-self: stretch; 
}*/
#ourTeamCardRow .card-img-top{
  height: 30vh !important;
}
#our-team .our-team-logo {
  width: 70.9%;
  /* width: 80px; */

}

#our-team [class^="col"] {
  margin-bottom: 3rem;
  
}


#our-team .owner-row {
  flex-direction: column;
  justify-content: space-between;
}
@media(min-width: 768px)  {
  #our-team .owner-row {
    flex-direction: row-reverse;
    
  }
}

#our-team .team-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#our-team .team-row .card {
  /* width: 100%; */
  width: 280px;
  margin: 0 2rem 3rem;
}

@media(max-width: 768px ) {
  #our-team .team-row .card{
    width: 0px;
    width: 100%;
    margin: 0 0 3rem;
  }
}

@media(min-width: 1200px) {
  #our-team .team-row .card {
    width: 300px;
  }
}
/* OUR KENNEL----------------------------------------- */
#ourKennelText p {
  text-align: left;
}
#ourKennelText h2{
  text-align: center;
}
#kennelImage{
  display: flex;
  max-width: 378px;
  justify-self: center;
  object-fit: contain;
  
}

 
#ourKennelImg{
  display: flex;
  justify-content: start;
}
/* smallest until medium size */
@media(max-width:992px){
  #ourKennelText p{
    text-align: left !important;
    order: 1;
  }
  #ourKennelIndex #ourKennelImg{
    order: 2;
    display: flex;
    flex-direction: columnl;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    
  }
  
}

/* CONTACT US---------------------------------------------------- */

.thick-black-stylish-line{
  width: 49vw;
  height: 1px;
  align-self: center;
  background-color: black;
  /* margin: auto; */
}
/*HOURS OF Service--------------------------------------------*/
/* #hoursOfService.card{
  text-emphasis: center !important;
} */
#contactRow{
  margin-top: 67px ;
}
#footerBar{
  /* padding: 0;
  margin: 0; */
  background-color: #DEE7E7;
  
}
.new-footer{
  /* padding: 0;
  margin: 0; */
  color: #004424;
  background-color: #DEE7E7;
  
}

.new-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  /* background-color: lightcoral; */
}

.new-footer .container ul {
  list-style: none;
}

.new-footer .r-footer{
  margin: 0 !important;
  /* height: 100%; */
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  /* background-color: lightblue; */

}

.new-footer .r-footer {
  text-align: right;
}

.new-footer .l-footer {
  margin: 0 !important;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* background-color: lightblue; */
  
}

@media(max-width: 410px) {
  .new-footer .container {
    flex-direction: column;
  }
  .new-footer .r-footer {
    text-align: left;
  }
  .new-footer .l-footer {
    border-bottom: 1px solid #004424;
  }
}

/* .left-footer{
  /* will be text center on mobile view 
  text-align: center;
} */
.right-footer{
  /* will be text center on mobile view */
  text-align: center;
}
.right-footer p{
  margin-bottom: -1px;
  margin-top: 4px;
  
}
/* .right-footer{

} */
/* .right-footer br{
  margin-top: 15px;
  /* margin-bottom: 2px;
} */

#bottomBar{
  background-color: #004424;
}
#bottomBar a{
  color: white !important;
}

#new-bottomBar {
  display: flex;
  justify-content: space-between;
  background-color: #004424;
}

@media (max-width: 662px) {
  #new-bottomBar .container {
    flex-direction: column !important;
    text-align: center;
    
  }
}

@media (max-width: 576px) { 
  /* 365 */
  .right-footer{
    text-align: center !important;
  }
  .left-footer{
    text-align: center !important;
  }
}
/* START BOARDING PAGE ========================================================*/

#jumbotronBoarding{
  background-image: url(/img/jumbotronBoardingPic.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:45vh;
}
.green-overlay-default{
  background:rgba(0, 68, 36,0.7);
  left:0;
  height:45vh;
  
}

#boardingCardRow .card-img-top {
  height: 15rem;
  /* width: max; */
}
#classic-card-img-top img{
 
}


.fancy-floaty-box{
  border: 1px  solid black;
  padding: auto;
  box-sizing: border-box;
  width: 80%;
  border-radius: 0.25rem !important;
}
.dark-box{
  border-radius: 0.25rem;
}


.we-provide-box-left{
  width:80%;
  margin-bottom: 18px;
  margin-right: auto !important;
  border: 1px solid #393E41;
}
.we-provide-box-right{
  width:80%;
  margin-bottom: 18px;
  margin-left: auto !important;
  border: 1px solid #393E41;
}
.dark-box{
  border: 1px solid #393E41;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 2rem; */
}
.dark-box p{
  margin: 0;
  padding:0;
}
@media(max-width:576px){
  .we-provide-box-left{
    width:80%;
    margin-bottom: 18px;
    border: 1px solid #393E41;
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .we-provide-box-right{
    width:80%;
    margin-bottom: 18px;
    border: 1px solid #393E41;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

#boardingCardRow .card{
  display: flex;
  flex-direction: column;
  flex:1;
  flex-grow: 1;
}
#boardingCardRow .card .card-body{
  display: flex;
  flex-direction: column;
  flex:1;
  flex-grow:1;
}

.alert img{
  width: 2%;
}
.alert-inner {
  display: flex;
  justify-content: space-between;
}

#advertisement-covid .img-wrapper{
  display: flex;
  justify-content: center;
}

#advertisement-covid .card {
  border: 1px solid #004424;
}

#advertisement-covid .card img{
  width: 40%;
  /* padding: 1rem; */
  /* background: rgb(0, 68, 36, 0.1);
  border-radius: 1rem; */
}

#advertisement-covid .card-body{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* align-content: center; */
}
#advertisement-covid .card-body p {
  margin-left: 1rem;
}

@media(max-width:742px){
  #advertisement-covid .card-body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  #advertisement-covid .card img{
    width: 20%;
    /* margin-left: 30rem;
    margin-right: auto; */
    /* padding: 1rem; */
    padding-bottom: .5rem;
    
  }
  #advertisement-covid .card-body p {
    margin-left: 0;
  }
}


/* START DAYCARE==================================================== */
#jumbotronDaycare{
  background-image: url(/img/daycareJumbotron.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:45vh;
}
#ourPlayZones img{
  height: 312px;
  display: flex;
  justify-self: center;
}
@media (max-width: 768px) {
  #whatIsDoggyDaycareImg{
    padding-left: 0px;

    /* margin-left: -5px; */
  }
  /* #ourPlayZones{
    margin-left: -13px;
  } */
  #OurPlayZonesImg{
    order:2;
  }
  #OurPlayZonesText{
    order: 1;
  }

  
}
/* #ourPlayZonesImg */
@media(max-width:768px){
  .left-align-md-and-less{
    text-align: left !important;
  }
}
/* START CATTERY========================================================= */
#jumbotronCattery{
  background-image: url(/img/catteryShowcase.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:45vh;
}

@media (max-width: 768px) {
  #catteryContactAndButtons{
    order: 2;
  }
  #catteryRateBoxes{
    order:1;
  }
  
}
@media (min-width: 768px) {
  catteryNewClientButton{
    margin-left: 3px;
  }
}

#kittyGallery .row .col-md-4{
  padding: .5rem;
  
}

/* #kittyGallery .row img {
  max-width: 358px;
  max-height: 477px;
  
} */

@media(max-width: 768px) {
  #kittyGallery .row img {
    height:674px;
    width:506px;
  }
}



.gallery-img-size{
  /* height: 245px; */
  height: 30vh;
}

/* START GROOMING=================================================================== */
#jumbotronGrooming{
  background-image: url(/img/groomingjumbotron.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:45vh;
}
/* START ABOUT=================================================================== */
#jumbotronAbout{
  background-image: url(/img/aboutUsShowcase.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:45vh;
}
.transform-105:hover{
  transform: scale(1.05);
}

.info {
  color: #001E10;
}
/* START CONTACT=================================================================== */
#jumbotronContact{
  background-image: url(/img/contactUsShowcase.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:45vh;
}

#contactRow p{
  font-size: 1.5rem;
}